@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom variables for black, blue, green color theme */
  --background: #101014; /* dark black-blue background */
  --foreground: #FFFFFF; /* white text */
  --primary: #1DA4E3; /* vibrant blue */
  --primary-foreground: #FFFFFF; /* white text on blue */
  --secondary: #41CC8D; /* green */
  --secondary-foreground: #101014; /* dark text on green */
  --border: #20232A; /* border color */
  --accent: #10B981; /* green accent */
  --accent-foreground: #16161D;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Markdown styling overrides */

.markdown > * {
  all: revert;
}

.markdown a {
  color: var(--secondary);
  text-decoration: underline;
}

.markdown h1 {
  color: var(--primary);
  border-bottom: 1px solid #444;
}

.markdown h2 {
  color: var(--accent);
}

.markdown h3 {
  text-decoration: underline;
}

.markdown code {
  background-color: #333;
  padding: 0px 5px;
  border-radius: 5px;
}

.markdown table, .custom-table table {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0px 6px;
  font-size: 13px;
  font-family: "JetBrains Mono", monospace;
  border-spacing: 5px;
  border-collapse: separate;
}

.markdown thead, .custom-table thead {
  background-color: #434343;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
